body {
  font-family: "museo-sans";
  background-color: #F7F9FD;
  color: #222;
}

.content {
  background-color: white;
  max-width: 48em;
  border: 1px solid #BCCBEB;
  padding: 0 5% 5% 5%;
}

h1, h2 {
  font-family: "museo-slab";
}

.center {
  text-align: center;
}

.leader {
  font-size: 23px;
}

.avatar {
  border-radius: 50%;
}

.status {
  float: right;
}