body {
  font-family: "museo-sans";
  background-color: #F7F9FD;
  color: #222;
}

.content {
  background-color: white;
  max-width: 48em;
  border: 1px solid #BCCBEB;
  padding: 0 5% 5% 5%;
}

h1, h2 {
  font-family: "museo-slab";
}

a,
a:link,
a:visited {
  color: maroon;
  text-decoration: none;
}

.center {
  text-align: center;
}

.leader {
  font-size: 23px;
}

.avatar {
  border-radius: 50%;
}

.status {
  float: right;
}

#mc_embed_signup {
}

#mc_embed_signup input {
  width: 60%;
  padding: 7px;
  margin-top: 7px;
}

.fa-github {
  color: #333;
}

.fa-twitter {
  color: #55ACEE;
  margin-right: 5px;
}